.Button{
  border-radius: 5px;
  padding: 8px 8px;
  width: 100%;
  height: auto;
  margin: 5px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.Button p{
  color: #eee;
  font-weight: bolder;
  text-align: center;
}

.Button:hover{
  cursor: pointer;
}

.primary{
  background-color: #29ABE2;
}

.primary:hover{
  background-color: #0984e3;
}

.primary:active{
  background-color: #0652DD;
}

.add {
  background-color: #4cd137;
}

.add:hover{
  background-color: #44bd32;
}

.add:active {
  background-color: #009432;
}

.info p{
  color: #0652DD;
  text-decoration: underline;
}

.big{
  font-size: 1.4rem;
  background-color: #0652DD;
  /* border: 2px solid #1764f2; */
  box-shadow: 0 0 2px 2px white;
}

.big:hover{
  background-color: #3074f2;
}

.big:active {
  background-color: #0a48ba;
}