.Menu {
  background-image: linear-gradient(to right,#003DD4,#29ABE2, #003DD4, #003DD4, #003DD4, #29ABE2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aLink{
  color: #fff;
  text-decoration: none;
}

.aLink:hover{
  color: #fff;
  text-shadow: 0 0 10px #fff;
}

li{
  list-style: none;
}

.Link{
  font-weight:600;
  font-size: 1.5rem;
  color: white;
  padding: 20px 10px;
  cursor: pointer;
}

.Logo{
  height: 12vh;
  padding: 10px;
}

/* SUBMENU */
.SubMenu{
  position: absolute;
  top: 12vh;
  right: 10px;
  z-index: 999;
  background-image: linear-gradient(to top right, #003DD4, #29ABE2);
  width: 300px;
}

.SubMenuContainer{
  width: 100%;
}

.SubMenuContainer .Link{
  display: block;
  font-weight: 600;
  font-size: 1.2rem;
  color: white;
  padding: 10px 10px;
}

.SubMenuContainer .UserOption{
  display: flex;
  align-items: center;
}