/* .userIconImage{
  max-width: 100px;
  max-height: 100px;
} */

.userIconImage .ImgUserIcon{
  border: 2px solid #fff;
  height: auto;
  width: auto;
  /* min-width: 100%; */
  border-radius: 100%;
  object-fit: cover;
  margin-right: 10px;
}

.userIconImage .ImgUserIconLink:hover {
  box-shadow: 0 0 10px #fff;
}

.small{
  max-height: 50px;
}

.large{
  max-height: 40vh;
}