.Item {
  /* flex: 1; */
  /* width: 10%; */
  width: 27%;
  min-width: 13%;
  /* object-fit: cover; */
  margin-right: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  cursor: pointer;
  /* border-radius: 10px; */
  /* padding: 15px; */
}

.Item:hover {
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);
}

.Item .Image{
  text-align: center;
}

.ImageProducto{
  height: 40vh;
}

ImageCatalogo{
  height: 30vh;
}

.Item .Header{
  padding: 10px;
}

.Item .Header, .Item .Footer{
  margin: 5px 0;
}

.Item .Image img{
  height: auto;
  max-width: 100%;
  /* border-radius: 10px; */
}

.Item .FooterItem .Buttons{
  display: flex;
  justify-content: space-around;
}

.Item .FooterItem .Buttons .Button{
  border-radius: 0;
  width: 100%;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  padding: 15px 0;
}

.Item .FooterItem .Buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Precio {
  /* text-align: right; */
  margin-top: 10px;
  font-size: 1.2rem;
}