.InputText .Input{
  outline: transparent;
  width: 100%;
  font-size: 1.2rem;
  padding: 8px 5px;
  /* border-radius: 8px; */
  border-color: black;
  border-width: 1px;
}

.InputText .left {
  text-align: left;
}

.InputText .right {
  text-align: right;
}

.InputText .center {
  text-align: center;
}

.InputFile{
  position: relative;
  overflow: hidden;
  width: 100%;
  font-weight: bold;
}

.InputFileButton{
  /* display:none; */
  position: absolute;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
  /* background-color: #003DD4; */
}

.InputSearch, .InputSelect{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
}

.InputSelect{
  color: #0c0c0c;
  background-color: #fff;
  border: 1px solid #0c0c0c;
}

.InputSearch{
  border: 1px solid #fff;
  border-radius: 9px;
  color: #fff;
  background-color: rgb(35, 17, 126, 0.3);
}

.InputSearch input::placeholder, .InputSelect input::placeholder {
  color: #fff;
}

.InputSearch input, .InputSelect select{
    outline: none;
    width: 100%;
    font-size: 1.2rem;
    padding: 5px 5px;
    border-radius: 8px;
    border-color: transparent;
    border-width: 1px;
    background-color: transparent;
    font-weight:lighter;
    color: inherit;
  }

.InputSelect {
  margin-top: 15px;
  cursor: pointer;
}

.InputSelect select{
  height: 8vh;
  line-height: 2;
}

.InputSelect select option {
  cursor: pointer;
  color: #0c0c0c;
  background-color: #fff;
}

.InputSelect select option:hover {
  background-color: #003DD4;
}