.Tienda{
  display: flex;
  justify-content: space-evenly;
  margin-top: 12vh;
}

.TiendaContainer {
  /* margin-left: 20%; */
  width: 75%;
}

.itemContainer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  margin: 20px 0;
}
