.CarritoContainer{
  margin-top: 12vh;
  padding: 20px 50px;
}

.CarritoBody {
  display: flex;
}

.CarritoItemsContainer{
  padding: 0 30px;
}

.CarritoItem{
  margin-top: 20px;
  display: flex;
  border: 0.5 solid black;
  background-color: #efefef;
}

.CarritoItem .CarritoItemBody{
  padding: 10px 0;
}

.CarritoItem .CarritoItemBody p{
  font-weight: bold;
}

.CarritoItem .CarritoItemBody p .Buttons{
  display: flex;
  font-size: 1.5rem;
  align-items: center;
}
/* .CarritoItem .CarritoItemBody  h2{
  color: #0e49de;
} */

.CarritoItem .CarritoItemImagen{
  max-width: 15%;
  margin-right: 20px;
}

.CarritoItem .CarritoItemImagen img {
  max-width: 100%;
}
