.CarritoContainer{
  margin-top: 12vh;
  margin-bottom: 9vh;
  padding: 20px 50px;
}

.CarritoBody {
  display: flex;
}

.CarritoItemsContainer{
  padding: 0 30px;
  width: 70%;
}

.ResumenOrden{
  width: 25%;
  margin-left: 20px;
}

.ResumenOrden .precioTotal{
  font-weight: bolder;
  font-size: 25pt;
  margin: 15px 0;
}